<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flexreserve.appointment.mapper.ResourceMapper">


    <select id="getResourceList" resultType="com.flexreserve.appointment.entity.vo.Resource">
        SELECT r.id, r.name, r.type, r.description, r.location, r.capacity, r.status,
        t.name AS tenant_name
        FROM booking_resource r
        LEFT JOIN sys_tenant t ON r.tenant_id = t.id
        WHERE r.status = 1 AND r.is_deleted = 0
        <if test="type != null and type != ''">
            AND r.type = #{type}
        </if>
        ORDER BY r.create_time DESC
    </select>
</mapper>